// main: ../main.scss
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  position: relative;
  padding: 140px 0 0 0;

  .container {
    position: relative;
    z-index: 3;
  }

  h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;

    .accent {
      color: var(--conrast-color);
    }
  }

  p {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    font-weight: 400;
    margin-bottom: 30px;
  }

  .btn-get-started {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    border: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
    background-color: color-mix(in srgb, var(--default-color), transparent 90%);

    &:hover {
      border-color: color-mix(in srgb, var(--default-color), transparent 60%);
    }
  }

  .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    font-weight: 600;
    color: var(--default-color);

    i {
      color: color-mix(in srgb, var(--default-color), transparent 50%);
      font-size: 32px;
      transition: 0.3s;
      line-height: 0;
      margin-right: 8px;
    }

    &:hover {
      i {
        color: var(--default-color);
      }
    }
  }

  @media (max-width: 640px) {
    h2 {
      font-size: 36px;
    }

    .btn-get-started,
    .btn-watch-video {
      font-size: 14px;
    }
  }

  .icon-boxes {
    padding-bottom: 60px;
    z-index: 4;

    @media (min-width: 1200px) {
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(50% + 20px);
        background-color: var(--default-color);
        border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      }
    }
  }

  .icon-box {
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: var(--background-color);
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, .1);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;

    .title {
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 24px;

      a {
        color: color-mix(in srgb, var(--default-color), transparent 20%);
        transition: 0.3s;
      }
    }

    .icon {
      margin-bottom: 20px;
      padding-top: 10px;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      font-size: 48px;
      line-height: 1;
      color: color-mix(in srgb, var(--default-color), transparent 20%);
    }

    &:hover {
      background-color: color-mix(in srgb, var(--background-color), white 10%);

      .title a,
      .icon {
        color: var(--contrast-color);
      }
    }
  }
}